<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Password Records</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<header th:replace="~{headerAndFooter.html::Header}"></header>
<main>

    <!-- Displaying search results -->
    <div th:if="${passwordRecords != null}">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>URL</th>
                <th>Email</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${passwordRecords}">
                <td th:text="${record.id}"></td>
                <td th:text="${record.username}"></td>
                <td th:text="${record.password}"></td>
                <td th:text="${record.url}"></td>
                <td th:text="${record.email}"></td>
                <td th:text="${record.notes}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Message if no records are found -->
    <div th:if="${passwordRecords == null or passwordRecords.isEmpty()}">
        <p>No records found</p>
    </div>
</main>

<footer th:replace="~{headerAndFooter.html::Footer}"></footer>

</body>
</html>